<?xml version="1.0"?>
<robot name="kuka_green_iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the lbr iiwa macro -->
    <xacro:include filename="$(find lbr_description)/urdf/kuka_green_iiwa7/xyz_iiwa7_description.xacro" />

    <!-- Arguments -->
    <xacro:arg name="sim" default="true" />
    <xacro:arg name="system_parameters_path" default="$(find lbr_ros2_control)/config/lbr_system_parameters.yaml" />


    <!-- Base link for the world -->
    <!-- <link name="world" /> -->

    <link name="world">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </link>


    <xacro:arg name="robot_name_1" default="kuka_green" />

        <!-- kuka_green-->
    <xacro:iiwa7
        robot_name="$(arg robot_name_1)"
        parent = "world"
        sim="$(arg sim)"
        system_parameters_path="$(arg system_parameters_path)">
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:iiwa7>
</robot>